// Variable Overrides 
$yellow: #ffc107;
@mixin dark {
    background-color: #252525;
    color: white;    
}

body{
    font-family: 'Courier New', Courier, monospace;
}

.dark-mode {
    @include dark;
    div.card{
        background-color: #252525;
        color: white;
    }
    #nox-lumos{
        color: $yellow;
    }
    footer{
        @include dark;
        border: 2px solid white;
		
        // margin-top: 30%;
	    // padding-bottom: 0.5%;
        // margin-left: 0.5%;
        // margin-right: 0.5%;
        
    }
    .navbar-light .navbar-nav .nav-link{
        color: white;
    }
    .navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active{
        color: $yellow;
    }
    .navbar-light .navbar-nav .nav-link:hover{
        color: #c3c6c8;
    }
    .navbar-light .navbar-nav .active .nav-link:hover{
        color: #c3c6c8;
    }
    div.dropdown-menu.show{
        background-color: #252525;
    }
    a.dropdown-item{
        color: white;
    }
    a.dropdown-item:hover{
        background-color: #e9ecef;
        color: #252525;
    }
    a.dropdown-item:active{
        background-color: #e9ecef;
        color: #252525;
    }
    .navbar-light .navbar-toggler-icon{
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    }
}
.switch {
	position: relative;
	display: inline-block;
	width: 50px;
	height: 28px;
	margin-top: 4px;
	input {
		opacity: 0;
		width: 0;
		height: 0;
	}
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #e9ecef;
	-webkit-transition: .4s;
	transition: .4s;
	&:before {
		position: absolute;
		content: "";
		height: 18px;
		width: 18px;
		left: 4px;
		bottom: 5px;
		background-color: white;
		-webkit-transition: .4s;
		transition: .4s;
	}
}
input {
	&:checked {
		+ {
			.slider {
				background-color: $yellow;
				&:before {
					-webkit-transform: translateX(26px);
					-ms-transform: translateX(26px);
					transform: translateX(26px);
				}
			}
		}
	}
	&:focus {
		+ {
			.slider {
				box-shadow: 0 0 1px #e9ecef;
			}
		}
	}
}
.slider.round {
	border-radius: 34px;
	&:before {
		border-radius: 50%;
	}
}

.navbar-toggler-icon{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(37, 37, 37, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.picture {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	border: 1px solid;
	margin-top: 20px;
	background-image: url(../assets/img/mypicture.jpg);
	background-repeat: no-repeat;
	background-size: contain;
    background-position: center top ;
	z-index: 1;
}
.jumbotron {
	background-image: url(../assets/img/amalfi3-2.jpg);
	height: 400px;
	background-position: 0% 85%;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	z-index: -1;
	h1 {
		color: #fff;
		font-weight: bold;
		text-shadow: 2px 2px black;
		margin: 0 auto;
	}
}
.achievements {
	p {
		text-align: center;
	}
	h3 {
		text-align: center;
	}
}
#hobbies {
	border-bottom: 4px groove #e9ecef;
}
.card {
	width: auto;
	height: 200px;
	overflow: hidden;
    -webkit-box-shadow: 5px 5px 15px -4px rgba(0,0,0,0.7); 
    box-shadow: 5px 5px 15px -4px rgba(0,0,0,0.7);
}
.card-img-top {
	width: 40px;
}
.skills {
	i {
		margin-bottom: 1em;
	}
}
#webdev {
    width: 50px;
	filter: invert(23%) sepia(50%) saturate(7357%) hue-rotate(351deg) brightness(88%) contrast(110%);
}
#website {
    width: 50px;
	filter: invert(23%) sepia(69%) saturate(3745%) hue-rotate(212deg) brightness(103%) contrast(108%);
}
#hiking {
    width: 36px;
	filter: invert(33%) sepia(71%) saturate(5507%) hue-rotate(24deg) brightness(97%) contrast(94%);
}
#tech{
    width: 50px;
}
#nutrition {
    width: 46px;
	filter: invert(93%) sepia(94%) saturate(2873%) hue-rotate(320deg) brightness(102%) contrast(101%);
}
#travel {
    width: 50px;
	filter: invert(23%) sepia(69%) saturate(3745%) hue-rotate(212deg) brightness(103%) contrast(108%);
}
footer {
	 margin-top: 40%;
     background-color: #e9ecef;
	 border-top-right-radius: 30%;
	 border-top-left-radius: 30%;
   // prova ombre footer
   	-webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 5px 0px rgba(195,198,200,0.25); 
	box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 5px 0px rgba(195,198,200,0.25); 
}
#copyright{
    background-color: #8999a9;
	border-top-right-radius: 30%;
	border-top-left-radius: 30%;
}

// TEST ANIMAZIONE SPAN HELLO -------------------------------------------------------

$t: 1s;
$d: 0.08em;
$n: 3;
$e: cubic-bezier(0.860, 0.000, 0.070, 1.000); 
$front: #e9ecef;
$back: rgb(16, 143, 40);
.popout{
	font-family: Futura, sans-serif;
	font-weight: 900;
	font-size: 40px;
	padding-top: 40px;
    margin: 0 auto;
	@keyframes ani{
		0%{
			transform: translate3d(0,0,0);
			text-shadow: 0em 0em 0 $back;
			color: $front;
		}
		30%{
			transform: translate3d(0,0,0);
			text-shadow: 0em 0em 0 $back;
			color: $front;
		}
		70%{
			transform: translate3d($d,-$d,0);
			text-shadow: -$d $d $back;
			color: $front;
		}
		100%{
			transform: translate3d($d,-$d,0);
			text-shadow: -$d $d $back;
			color: $front;
		}
	}
	span{
		position: relative;
		display: inline-block;
		animation: ani $t infinite alternate $e;
		@for $i from 1 through $n{
			&:nth-last-child(#{$i}n){ animation-delay: -$t*$i/$n/2;}
		}
	}
	
}



















// Bootstrap Sass Imports
@import "../../node_modules/bootstrap/scss/bootstrap";